.love-letter {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      border-right: solid 2px;
      animation: typing 2s steps(30), cursor 1.2s step-end forwards;
      display: none;
      position: absolute;
      left: 80px;
    }
    
    @keyframes cursor {
        from, to { border-color: transparent; }
    }
    
    @keyframes typing {
        from { width: 0; }
        to { width: 100%; }
    }

    

.msg {
    position: absolute;
    top: 215px;
    left: 350px;
    display: none ;
}

@media only screen and (max-width: 440px) {
    .msg {
        position: absolute;
        top: 350px;
        left: 20px;
        display: none ;
    }
}
